In [17]:
#Extracting libraries:
import sqlite3
import pandas as pd
import numpy as np
import re
import datetime
import os
import requests
from bs4 import BeautifulSoup

In [18]:
#Extracting dirty tables from local-data:
df1 = pd.read_csv('/Users/MIGUEL/Desktop/CLAB1/Ironhack-Module-1-Project---Pipelines-/data/df_dirt.csv')

In [11]:
#Display datasets:
display(df1)

,id,Unnamed: 0_x,Source,worth,worthChange,realTimeWorth,realTimePosition,lastName,age,Unnamed: 0_y,gender,country,image,name,position,Unnamed: 0
0,4656,52,Technology ==> Amazon,112.0 BUSD,0.0 millions USD,NaN,1,bEZOS,54 years old,52,M,None,https://specials-images.forbesimg.com/imageser...,jEFF BEZOS,1.0,52
1,1874,53,Technology ==> Microsoft,90.0 BUSD,-0.001 millions USD,NaN,2,gATES,62 years old,53,None,United States,https://specials-images.forbesimg.com/imageser...,bill GAtes,2.0,53
2,6703,54,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,-0.002 millions USD,NaN,3,bufFETT,87 years old,54,M,United States,https://specials-images.forbesimg.com/imageser...,WARREN BUFFETt,3.0,54
3,2637,55,Fashion & Retail ==> LVMH,72.0 BUSD,0.0 millions USD,NaN,4,arnAULt,69 years old,55,None,None,https://specials-images.forbesimg.com/imageser...,bernaRD ARNAULT,4.0,55
4,8242,56,Technology ==> Facebook,71.0 BUSD,0.0 millions USD,NaN,5,zUCKERBERG,1985,56,M,None,https://specials-images.forbesimg.com/imageser...,maRK ZUCKERBERG,5.0,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2203,1711,2255,"Fashion & Retail ==> fashion, entertainment",1.0 BUSD,0.0 millions USD,NaN,2134,ZHAO,51 years old,2255,None,China,https://specials-images.forbesimg.com/imageser...,zhao xiAOQIang,2204.0,2255
2204,3538,2256,Manufacturing ==> electrical equipment,1.0 BUSD,nan millions USD,NaN,2134,zhOU,55 years old,2256,M,None,https://specials-images.forbesimg.com/imageser...,zhou LIANGZHang,2205.0,2256
2205,7797,2257,Manufacturing ==> electrical equipment,1.0 BUSD,0.0 millions USD,NaN,1856,ZHU,51 years old,2257,None,China,https://specials-images.forbesimg.com/imageser...,zHU XINGMing,2206.0,2257
2206,3123,2258,Manufacturing ==> printed circuit boards,1.0 BUSD,0.0 millions USD,NaN,1978,ZHUO,52 years old,2258,F,None,https://specials-images.forbesimg.com/imageser...,ZHUO JUN,2207.0,2258
2207,7030,2259,Diversified ==> diversified,1.0 BUSD,nan millions USD,NaN,1978,zoRLU,54 years old,2259,None,None,https://specials-images.forbesimg.com/imageser...,olguN ZORLU,2208.0,2259

In [12]:
def drop (df, list_of_columns):   ###1###
    df1 = df.drop(list_of_columns, axis=1)
    return df1

In [13]:
columns_to_drop=['id','realTimeWorth','Unnamed: 0','Unnamed: 0_x','Unnamed: 0_y','realTimePosition','lastName']
df2 = drop(df1,columns_to_drop)
display(df2)

,Source,worth,worthChange,age,gender,country,image,name,position
0,Technology ==> Amazon,112.0 BUSD,0.0 millions USD,54 years old,M,None,https://specials-images.forbesimg.com/imageser...,jEFF BEZOS,1.0
1,Technology ==> Microsoft,90.0 BUSD,-0.001 millions USD,62 years old,None,United States,https://specials-images.forbesimg.com/imageser...,bill GAtes,2.0
2,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,-0.002 millions USD,87 years old,M,United States,https://specials-images.forbesimg.com/imageser...,WARREN BUFFETt,3.0
3,Fashion & Retail ==> LVMH,72.0 BUSD,0.0 millions USD,69 years old,None,None,https://specials-images.forbesimg.com/imageser...,bernaRD ARNAULT,4.0
4,Technology ==> Facebook,71.0 BUSD,0.0 millions USD,1985,M,None,https://specials-images.forbesimg.com/imageser...,maRK ZUCKERBERG,5.0
...,...,...,...,...,...,...,...,...,...
2203,"Fashion & Retail ==> fashion, entertainment",1.0 BUSD,0.0 millions USD,51 years old,None,China,https://specials-images.forbesimg.com/imageser...,zhao xiAOQIang,2204.0
2204,Manufacturing ==> electrical equipment,1.0 BUSD,nan millions USD,55 years old,M,None,https://specials-images.forbesimg.com/imageser...,zhou LIANGZHang,2205.0
2205,Manufacturing ==> electrical equipment,1.0 BUSD,0.0 millions USD,51 years old,None,China,https://specials-images.forbesimg.com/imageser...,zHU XINGMing,2206.0
2206,Manufacturing ==> printed circuit boards,1.0 BUSD,0.0 millions USD,52 years old,F,None,https://specials-images.forbesimg.com/imageser...,ZHUO JUN,2207.0
2207,Diversified ==> diversified,1.0 BUSD,nan millions USD,54 years old,None,None,https://specials-images.forbesimg.com/imageser...,olguN ZORLU,2208.0

In [ ]:
##2##

def replacement (df, column):
    df.replace({"BUSD": ' '})
    df.worthChange.replace('na', '0.0', regex=True, inplace=True)
    df.worth.replace('[BUSD]+$', '', regex=True, inplace=True)
    df.worthChange.replace('[millions USD]+$', '', regex=True, inplace=True)
    df['worth'] = df1['worth'].astype('float').astype('int')
    df['worthChange'] = df1['worthChange'].astype('float').astype('int')

In [ ]:
#DATA CLEANING

    ###1###eliminating columns that do not add value (id, Unnamed:0,Unnamed: 0_x, Unnamed: 0_y  realTimePosition)
'''df1.drop(['id'], axis='columns', inplace=True)
df1.drop(['realTimeWorth'], axis='columns', inplace=True)    
df1.drop(['Unnamed: 0'], axis='columns', inplace=True)
df1.drop(['Unnamed: 0_x'], axis='columns', inplace=True)
df1.drop(['Unnamed: 0_y'], axis='columns', inplace=True)
df1.drop(['realTimePosition'], axis='columns', inplace=True)
df1.drop(['lastName'], axis='columns', inplace=True)'''




    ##2##wrangling worth and worthChange column:  def changing_text:
df1.replace({"BUSD": ' '})
df1.worthChange.replace('na', '0.0', regex=True, inplace=True)
df1.worth.replace('[BUSD]+$', '', regex=True, inplace=True)
df1.worthChange.replace('[millions USD]+$', '', regex=True, inplace=True)
df1['worth'] = df1['worth'].astype('float').astype('int')
df1['worthChange'] = df1['worthChange'].astype('float').astype('int')

    #checking the type of values in columns
#print(df['worthChange'].dtype)
#print(df['worth'].dtype)

    #Analyzing worthChange column composition:
#print(df['worthChange'].value_counts())
#print(df['worthChange'].describe())

    #Once the value_counts () and describe () methods have been performed, we can see that the column is composed of 97.59% of 0 values, however we can see that they include very extreme values in minimums and maximums, and since it is a column That refers to the exchange rates I think it is convenient not to eliminate the column for futures and possible analyzes during the project.

    #I rename columns to indicate the units in which the values are expressed and not to contaminate the dataset.

df1 = df1.rename(columns={'worth':'worth BUSD', 'worthChange':' worthChange millions USD'})

    #Make sure there are no duplicate items
df1 = df1.drop_duplicates()

    #Wrangling gender column:
    

df1.gender.replace('[M]+$', 'Male', regex=True, inplace=True)
df1.gender.replace('[F]+$', 'Female', regex=True, inplace=True)
df1['gender'] = df1['gender'].astype('object').astype('str')

    #Wrangling age column:
        #Correct info in age column: delete "years old" and change data types
        
df1.age.replace('[years old]+$', '', regex=True, inplace=True)      
df1.age.fillna(str(-2019), inplace=True)
current_year = datetime.datetime.today().year

age = []
for i in df1['age']:
    if len(str(i)) == 4:
        age.append(str(current_year-int(i)))
    else:
         age.append(i)

df1['age'] = age

#print(df_rank_info.position.isnull().sum())   #Only 52 NaN values, not proceed delete column
    #replacement float values with int

df1['position'] = df1['position'].fillna(0)   #replace NaN values with 0.0
df1['position'] = df1['position'].astype('float').astype('int')

    #convert all characters to lowercase in column name

df1 = df1.apply(lambda x: x.astype(str).str.lower())

    #analyzing types of values to see the next cleaning stage
    #we can verify that we have duplicate elements so we must eliminate them but taking care that we eliminate 
    #the correct one and #that it contributes less value to the dataframe.
    
    #changing object types
    
df1['position'] = df1['position'].astype('object').astype('int')

#print(df_rank_info['position'].dtype)
#print(df_rank_info['id'].dtype)

    #I delete the rows that have a value of 0 in the position column, they do not add value to the analysis.
    
df1 = df1.drop(df1[df1['position']==0].index)
    
    #Wrangling Source column:

#df1[['professional sector', 'company']] = df1.Source.str.split(' ==> ', expand=True)
#df1.drop(['Source'], axis='columns', inplace=True)

    #Reset index
    
df1 = df1.reset_index(drop=True)
df1.to_csv('/Users/MIGUEL/Desktop/CLAB1/Ironhack-Module-1-Project---Pipelines-/data/processed/df1_dbclean.csv', index=False)
display(df1)
print('OK')

In [14]:
def changing_text(df,column):
    df[column].replace('[M]+$', 'Male', regex=True, inplace=True)
    df[column].replace('[F]+$', 'Female', regex=True, inplace=True)
    df[column] = df[column].astype('object').astype('str')
    return df

In [15]:
df2 = changing_text(df1,'gender')
display(df2)

,id,Unnamed: 0_x,Source,worth,worthChange,realTimeWorth,realTimePosition,lastName,age,Unnamed: 0_y,gender,country,image,name,position,Unnamed: 0
0,4656,52,Technology ==> Amazon,112.0 BUSD,0.0 millions USD,NaN,1,bEZOS,54 years old,52,Male,None,https://specials-images.forbesimg.com/imageser...,jEFF BEZOS,1.0,52
1,1874,53,Technology ==> Microsoft,90.0 BUSD,-0.001 millions USD,NaN,2,gATES,62 years old,53,None,United States,https://specials-images.forbesimg.com/imageser...,bill GAtes,2.0,53
2,6703,54,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,-0.002 millions USD,NaN,3,bufFETT,87 years old,54,Male,United States,https://specials-images.forbesimg.com/imageser...,WARREN BUFFETt,3.0,54
3,2637,55,Fashion & Retail ==> LVMH,72.0 BUSD,0.0 millions USD,NaN,4,arnAULt,69 years old,55,None,None,https://specials-images.forbesimg.com/imageser...,bernaRD ARNAULT,4.0,55
4,8242,56,Technology ==> Facebook,71.0 BUSD,0.0 millions USD,NaN,5,zUCKERBERG,1985,56,Male,None,https://specials-images.forbesimg.com/imageser...,maRK ZUCKERBERG,5.0,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2203,1711,2255,"Fashion & Retail ==> fashion, entertainment",1.0 BUSD,0.0 millions USD,NaN,2134,ZHAO,51 years old,2255,None,China,https://specials-images.forbesimg.com/imageser...,zhao xiAOQIang,2204.0,2255
2204,3538,2256,Manufacturing ==> electrical equipment,1.0 BUSD,nan millions USD,NaN,2134,zhOU,55 years old,2256,Male,None,https://specials-images.forbesimg.com/imageser...,zhou LIANGZHang,2205.0,2256
2205,7797,2257,Manufacturing ==> electrical equipment,1.0 BUSD,0.0 millions USD,NaN,1856,ZHU,51 years old,2257,None,China,https://specials-images.forbesimg.com/imageser...,zHU XINGMing,2206.0,2257
2206,3123,2258,Manufacturing ==> printed circuit boards,1.0 BUSD,0.0 millions USD,NaN,1978,ZHUO,52 years old,2258,Female,None,https://specials-images.forbesimg.com/imageser...,ZHUO JUN,2207.0,2258
2207,7030,2259,Diversified ==> diversified,1.0 BUSD,nan millions USD,NaN,1978,zoRLU,54 years old,2259,None,None,https://specials-images.forbesimg.com/imageser...,olguN ZORLU,2208.0,2259

In [ ]:
#WEB SCRAPPING:
    #To expand the database I used a wikipedia page, data obtained through WebScrapping:
        #Extract URL - Scrapper:

url = 'https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population'  ### como input
html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")

table = soup.find_all('table',{'class':'wikitable sortable mw-datatable'})[0]
table

        # tr represent the table rows:
rows = table.find_all('tr')
rows_parsed = [row.text for row in rows]
rows_parsed

        #Parsering:

def smart_parser(row_text):
    row_text = row_text.replace('\nPopulation\n\n\n', '\nPopulation\n').strip('\n')
    row_text = row_text.replace('\n\n', '\n').strip('\n')
    row_text = row_text.replace('\nPopulation\n% of World\n', '\nPopulation % of World\n').strip('\n')
    row_text = re.sub('\[\d\]', '', row_text)
    
    return list(map(lambda x: x.strip(), row_text.split('\n')))

well_parsed = list(map(lambda x: smart_parser(x), rows_parsed))

colnames = well_parsed[0]
data = well_parsed[1:]

        #Creating DF:
df_scrapping = pd.DataFrame(data, columns=colnames)

df_scrapping['Country(or dependent territory)']=df_scrapping['Country(or dependent territory)'].replace(['\[(.*?)\]','\(([^\)]+)\)'], ['',''], regex=True)

df_scrapping.columns = ['Rank', 'country','Population',' % of World Population','Date','Source']

        #Exporting to CSV: 

df_scrapping.to_csv('/Users/MIGUEL/Desktop/CLAB1/Ironhack-Module-1-Project---Pipelines-/data/processed/df_scrapping.csv', index=False)
display(df_scrapping)
print('OK.2')

In [16]:
####paquetizada OK
#Replacement of 'None' values by NaN in country column

df_total=pd.read_csv('/Users/MIGUEL/Desktop/CLAB1/Ironhack-Module-1-Project---Pipelines-/data/processed/df_totalCLEAN.csv')

#Replacement of 'None' values by NaN in country column

df_total.country.replace('None', np.nan, regex=True, inplace=True)

#Drop Null values in df_total - column: country
df_total.country.isnull().sum()  ###
df_no_null_values = df_total[df_total.age.isnull()] 
df_no_null_values.shape ###


df_total.drop(df_total[df_total.country.isnull()].index, inplace = True)
df_total.shape  ###
df_total.country.isnull().sum() ###

#Merge - df_total,no null values in country col with df_web_scrapping:

df_project2=pd.merge(df_scrapping, df_total, on=['country', 'country'])

#Exportin to processed:

df_project2.to_csv('/Users/MIGUEL/Desktop/CLAB1/Ironhack-Module-1-Project---Pipelines-/data/processed/df_project2CLEAN.csv', index=False)
df_project2 ###

FileNotFoundError: [Errno 2] File b'/Users/MIGUEL/Desktop/CLAB1/Ironhack-Module-1-Project---Pipelines-/data/processed/df_totalCLEAN.csv' does not exist: b'/Users/MIGUEL/Desktop/CLAB1/Ironhack-Module-1-Project---Pipelines-/data/processed/df_totalCLEAN.csv'