In [16]:
import sqlite3
import pandas as pd
import numpy as np
import re

df = sqlite3.connect('/Users/MIGUEL/Desktop/CLAB1/Ironhack-Module-1-Project---Pipelines-/data/raw/Miguel318.db')

dfPI = pd.read_sql_query("SELECT * FROM personal_info", df)


#Wrangling personal_info
    #Drop Unnamed:0 and lastName, I delete lastname column since we already have the full name and surname in rank_info
    
dfPI.drop(['Unnamed: 0'], axis='columns', inplace=True)
dfPI.drop(['lastName'], axis='columns', inplace=True)

    #Wrangling gender column
    
dfPI.gender.replace('[M]+$', 'Male', regex=True, inplace=True)
dfPI.gender.replace('[F]+$', 'Female', regex=True, inplace=True)
#print(dfPI['gender'].value_counts())
   
    #Wrangling age column
        #Correct info in age column
        
#PENDIENTE TERMINAR LIMPIEZA DE COLUMNA AGE, DESPUES MERGE CON LAS OTRAS DOS TABLAS Y COMENZAR ANALISIS.
#PARA CONTINUAR: COMPROBAR TIPOS DE DATOS DE LA COLUMNA Y PULIRLOS.
#PARA CONTINUAR 2: OUTLIERS


dfPI.age.replace('[years old]+$', '', regex=True, inplace=True)
dfPI['age'] = dfPI['age'].astype('object').astype('float')
#dfPI['age'] = dfPI['age'].astype('float').astype('int')
print(dfPI['age'].value_counts())
dfPI

64.0      70
54.0      66
56.0      65
67.0      64
55.0      64
          ..
1994.0     1
1992.0     1
96.0       1
99.0       1
1996.0     1
Name: age, Length: 75, dtype: int64

,id,age,gender,country,image
0,4656,54.0,Male,None,https://specials-images.forbesimg.com/imageser...
1,1874,62.0,None,United States,https://specials-images.forbesimg.com/imageser...
2,6703,87.0,Male,United States,https://specials-images.forbesimg.com/imageser...
3,2637,69.0,None,None,https://specials-images.forbesimg.com/imageser...
4,8242,1985.0,Male,None,https://specials-images.forbesimg.com/imageser...
...,...,...,...,...,...
2203,1711,51.0,None,China,https://specials-images.forbesimg.com/imageser...
2204,3538,55.0,Male,None,https://specials-images.forbesimg.com/imageser...
2205,7797,51.0,None,China,https://specials-images.forbesimg.com/imageser...
2206,3123,52.0,Female,None,https://specials-images.forbesimg.com/imageser...
2207,7030,54.0,None,None,https://specials-images.forbesimg.com/imageser...