In [42]:
import sqlite3
import pandas as pd
import re

df = sqlite3.connect('/Users/MIGUEL/Desktop/CLAB1/Ironhack-Module-1-Project---Pipelines-/data/raw/Miguel318.db')

dfRI = pd.read_sql_query("SELECT * FROM rank_info", df)
dfRI

#Wrangling rank_info
    #eliminating columns that do not add value (id, Unnamed:0)

#dfRI.drop(['id'], axis='columns', inplace=True)
dfRI.drop(['Unnamed: 0'], axis='columns', inplace=True)

    #Wrangling - "position column"

print(dfRI.position.isnull().sum())   #Only 52 NaN values, not proceed delete column

dfRI['position'] = dfRI['position'].fillna(0)   #replance NaN values with 0.0
dfRI['position'] = dfRI['position'].astype('float').astype('int')  #replacement float values with int


#convert all characters to lowercase in column name

dfRI = dfRI.apply(lambda x: x.astype(str).str.lower())
dfRI

#analyzing types of values to see the next cleaning stage
dfRI.describe()     #we can verify that we have duplicate elements so we must eliminate them but taking care that we eliminate the correct one and that it contributes less value to the dataframe. 

dfRI[dfRI['name'].duplicated(keep=False)]

52

       id           name position
417  3718      jim davis      366
525  1661  robert miller      474
913  7556      jim davis      862
996  5650  robert miller      945