In [27]:
import sqlite3
import pandas as pd
import re

df = sqlite3.connect('/Users/MIGUEL/Desktop/CLAB1/Ironhack-Module-1-Project---Pipelines-/data/raw/Miguel318.db')

dfRI = pd.read_sql_query("SELECT * FROM rank_info", df)
dfRI

#Wrangling rank_info
    #eliminating columns that do not add value (Unnamed:0)

dfRI.drop(['Unnamed: 0'], axis='columns', inplace=True)

    #Wrangling - "position column"

print(dfRI.position.isnull().sum())   #Only 52 NaN values, not proceed delete column

dfRI['position'] = dfRI['position'].fillna(0)   #replance NaN values with 0.0
dfRI['position'] = dfRI['position'].astype('float').astype('int')  #replacement float values with int


#convert all characters to lowercase in column name

dfRI = dfRI.apply(lambda x: x.astype(str).str.lower())


#analyzing types of values to see the next cleaning stage
     #we can verify that we have duplicate elements so we must eliminate them but taking care that we eliminate the correct one and that it contributes less value to the dataframe. 

    #changing object types
    
dfRI['position'] = dfRI['position'].astype('object').astype('int')
dfRI['id'] = dfRI['id'].astype('object').astype('int')

print(dfRI['position'].dtype)
print(dfRI['id'].dtype)

#I delete the rows that have a value of 0 in the position column, they do not add value to the analysis and thus the size of the table is matched with that of Bussines_info
dfRI = dfRI.drop(dfRI[dfRI['position']==0].index)

#RESET INDEX
dfRI = dfRI.reset_index(drop=True)

#Exporting the clean dataset to the data/processed folder

dfRI.to_csv('/Users/MIGUEL/Desktop/CLAB1/Ironhack-Module-1-Project---Pipelines-/data/processed/dfrankinfoCLEAN.csv', index=False)
dfRI

52
int64
int64

        id             name  position
0     4656       jeff bezos         1
1     1874       bill gates         2
2     6703   warren buffett         3
3     2637  bernard arnault         4
4     8242  mark zuckerberg         5
...    ...              ...       ...
2203  1711   zhao xiaoqiang      2204
2204  3538  zhou liangzhang      2205
2205  7797     zhu xingming      2206
2206  3123         zhuo jun      2207
2207  7030      olgun zorlu      2208

[2208 rows x 3 columns]